{% extends 'todo/base.html' %}

{% block content %}
    <h1>Food random</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'todo:create' %}" method="post">
        {% csrf_token %}
        <!-- Food Name -->
        <div class="form-group">
            <label for="todo" class="col-sm-3 control-label">เพิ่มอาหาร</label>
            <div class="col-sm-6">
                {{ form.body }}
            </div>
        </div>

        <!-- Add Button -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-plus"></i> เพิ่ม
                </button>
            </div>
        </div>

    </form>
    <!-- Random -->
    <form action="{% url 'todo:random'%}" method="post" >
    <h3>กินอะไรดี<h3> <div>{{ post.body }}</div>
    <button>สุ่มอาหาร</button>
    </form>
    <!-- List -->
    <h2>List</h2>
    <table class="table table-striped todo-table">

        <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                        <div>{{ post.body }}</div>
                    </td>
                    <td>
                        <form action="{% url 'todo:delete' post.id %}" method="post">
                            {% csrf_token %}
                            <button>ลบ</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}